/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  padding: 4px 0;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
  transition: background-color 0.2s;
  min-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
  border: 3px solid transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 4px 0;
  padding: 1px;
}

/* Firefox 滚动条样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

/* 默认隐藏滚动条，悬浮时显示 */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px solid transparent;
  background-clip: padding-box;
} 